* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background: #101d6b;
  background: -webkit-linear-gradient(to right, #101d6b, #2e3b85);
  background: linear-gradient(to right, #101d6b, #2e3b85);
  display: grid;
  place-items: center;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.navbar {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}


.navbar-nav {
    position: absolute;
    top: 15px; 
    left: 1120px;
    right: 0;
    padding: 10px;
    display: flex;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 20px;
  }


.navbar-nav li a:hover {
  background-color: #fff;
  color: #101d6b;
  border-radius: 18px;
  padding: 10px 20px;
  transition: 0.2s;
}

.nav-item {
  margin-left: 20px;
  list-style-type: none;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.logo-img {
  position: absolute;
  top: -30px; 
  left: 50px;
  right: 0;
  padding: 10px;
  display: flex;
  width: 200px;
}

.container {
  position: relative;
  width: 400px;
  height: 105px;
  background: #fff;
  padding: 28px 32px;
  overflow: hidden;
  border-radius: 18px;
  font-family: 'Roboto', sans-serif;
  transition: 0.6s ease-out;
}

.search-box {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box input {
  color: #101d6b;
  width: 80%;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 32px;
}

.search-box input::placeholder {
  font-size: 20px;
  font-weight: 500;
  color: #101d6b;
  text-transform: capitalize;
}

.search-box button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: #101d6b;
  background: #dff6ff;
  border-radius: 50%;
  font-size: 22px;
  transition: 0.4s ease;
}

.search-box button:hover {
  color: #fff;
  background: #101d6b;
}

.search-box i{
    position: absolute;
    color: #101d6b;
    font-size: 28px;
}

.weather-box{
    text-align: center;
}

.weather-box img{
    width: 40%;
    margin-top: 0;
}

.weather-box .temperature{
    position: relative;
    color: #101d6b;
    font-size: 4rem;
    font-weight: 650;
    margin-top: 0;
    margin-left: -16px;
}

.weather-box .temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box .description{
    color: #101d6b;
    font-size: 22px;
    font-weight: 300;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.weather-details .humidity, .weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}

.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i{
    color: #101d6b;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details span{
    color: #101d6b;
    font-size: 22px;
    font-weight: 300;
}

.weather-details p{
    color: #101d6b;
    font-size: 14px;
    font-weight: 300;
}

.powered-by {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.powered-by p {
  color: #101d6b;
  font-size: 16px;
  font-weight: 300;
  font-weight: bold;
  text-transform: uppercase;
}

.powered-by img {
  width: 50%;
  margin-top: 30px;
}


.not-found{
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img{
    width: 70%;
    height: 100px;
}

.not-found p{
    color: #101d6b;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-box, .weather-details{
    scale: 0;
    opacity: 0;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
  }
  