*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

:root {
  --color-1: #101d6b;
  --color-2: #2e3b85;
  --color-3: #fff;
}

.navbar {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center; /* added */
}


.navbar-nav {
    position: absolute;
    top: 15px; 
    left: 1120px;
    right: 0;
    padding: 10px;
    display: flex;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: var(--color-3);
    font-size: 20px;
  }


.navbar-nav li a:hover {
  background-color: var(--color-3);
  color: var(--color-1);
  border-radius: 18px;
  padding: 10px 20px;
  transition: 0.2s;
}

.nav-item {
  margin-left: 20px;
  list-style-type: none;
}

.nav-link {
  color: var(--color-3);
  text-decoration: none;
}

.logo-img {
  position: absolute;
  top: -30px; 
  left: 50px;
  right: 0;
  padding: 10px;
  display: flex;
  width: 200px;
}

body {
  background: var(--color-1);
  background: -webkit-linear-gradient(to right, var(--color-1), var(--color-2));
  background: linear-gradient(to right, var(--color-1), var(--color-2));
  display: grid;
  place-items: center;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
}



form {
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: var(--color-3);
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: var(--color-3);
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
}

label {
  color: var(--color-1);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold; /* added */
  }
  
  input[type="text"], textarea {
  width: 100%;
  color: var(--color-1);
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 4px;
  border: none;
  margin-bottom: 1rem;
  font-weight: bold; /* added */
  }

input[type="submit"] {
    background-color: var(--color-1);
    color: var(--color-3);
    font-size: 1.5rem;
    left: 100px;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

input[type="submit"]:hover {
    background-color: var(--color-3);
    color: var(--color-1);
    
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: var(--color-3);
  }
