* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

:root {
    --color-1: #101d6b;
    --color-2: #2e3b85;
    --color-3: #fff;
  }

.navbar {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center; 
  }
  
  
  .navbar-nav {
      position: absolute;
      top: 8px; 
      left: 1120px;
      right: 0;
      padding: 10px;
      display: flex;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      color: var(--color-3);
      font-size: 20px;
    }
  
  
  .navbar-nav li a:hover {
    background-color: var(--color-3);
    color: var(--color-1);
    border-radius: 18px;
    padding: 10px 20px;
    transition: 0.2s;
  }
  
  .nav-item {
    margin-left: 20px;
    list-style-type: none;
  }
  
  .nav-link {
    color: var(--color-3);
    text-decoration: none;
    font-size: 20px;
  }
  
  .logo-img {
    position: absolute;
    top: -30px; 
    left: 50px;
    right: 0;
    padding: 10px;
    display: flex;
    width: 200px;
  }


body {
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: block;
    background: var(--color-1);
    background: -webkit-linear-gradient(to right, var(--color-1), var(--color-2));
    background: linear-gradient(to right, var(--color-1), var(--color-2));
    font-family: 'Roboto', sans-serif;
    color: var(--color-3);
}


h1 {
    position: relative;
    top: 130px;
    left: 0;
    right: 0;
    padding: 50px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 24px;
}


h2 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 48px;
    margin-bottom: 24px;
}

p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 24px;
}

ul {
    margin-bottom: 24px;
}

li {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 8px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 24px;
}

video {
    max-width: 100%;
    height: auto;
    margin-bottom: 24px;
}


.container1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    width: 1000px;
    height: 500px;
    background: var(--color-3);
    color: var(--color-1);
    align-items: center;
    justify-content: center;
    padding: 28px 48px;
    overflow: hidden;
    border-radius: 18px;
    transition: 0.6s ease-out;
}

.container2 {
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);    
    width: 1000px;
    height: 500px;
    display: block;
    background: var(--color-3);
    color: var(--color-1);
    align-items: center;
    justify-content: center;
    padding: 28px 48px;
    overflow: hidden;
    border-radius: 18px;
    transition: 0.6s ease-out;
}

.container3 {
    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);    
    width: 1000px;
    height: 500px;
    background: var(--color-3);
    color: var(--color-1);
    align-items: center;
    justify-content: center;
    padding: 28px 48px;
    overflow: hidden;
    border-radius: 18px;
    transition: 0.6s ease-out;
}

.container4 {
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);    
    width: 1000px;
    height: 500px;
    display: block;
    background: var(--color-3);
    color: var(--color-1);
    align-items: center;
    justify-content: center;
    padding: 28px 48px;
    overflow: hidden;
    border-radius: 18px;
    transition: 0.6s ease-out;
}

.container5 {
    position: relative;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);    
    width: 1000px;
    height: 500px;
    display: block;
    background: var(--color-3);
    color: var(--color-1);
    align-items: center;
    justify-content: center;
    padding: 28px 48px;
    overflow: hidden;
    border-radius: 18px;
    transition: 0.6s ease-out;
}

.container6 {
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);    
    width: 1000px;
    height: 500px;
    background: var(--color-3);
    color: var(--color-1);
    align-items: center;
    justify-content: center;
    padding: 28px 48px;
    overflow: hidden;
    border-radius: 18px;
    transition: 0.6s ease-out;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: var(--color-3);
    margin-top: 100px;
  }





