{% extends 'partials/base.html' %}

    {% block others %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/style_2.css') }}">
    {% endblock others %}

    {% block responsive %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/responsive/responsive_2.css') }}">
    {% endblock responsive %}

    {% block title %}
    WeatherCast | Contact
    {% endblock title %}

{% block content %}
    <h1>Contact Us</h1>
    {% include 'partials/navbar.html' %}
    <form action="/process-form" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      <br>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required>
      <br>
      <label for="message">Message:</label>
      <textarea id="message" name="message" required></textarea>
      <br>
      <input type="submit" value="Send">
    </form>
{% endblock %}
