{% extends 'base.html' %}

    {% block others %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    {% endblock others %}

    {% block title %}
    WeatherCast | National and Local Weather Forecast For Cities
    {% endblock title %}

{% block content %}
   
{% include 'partials/navbar.html' %}
    <div class="container">
        <div class="search-box">
            <i class="fa-solid fa-location-dot"></i>
            <input type="text" placeholder="Enter your location">
            <button class="fa-solid fa-magnifying-glass"></button>
        </div>       

        <div class="not-found" style="background-image: url({{ url_for('static', filename='images/404.png') }})">
            <p>Oops! Invalid location :/</p>
        </div>

        <div class="weather-box">
            <img src=""></img>
            <p class="temperature"></p>
            <p class="description"></p> 
            <p class="powered-by">Powered by</p>
            <img class="powered-by img" src="{{ url_for('static', filename='images/open_weather.png') }}" alt="Powered by logo">
        </div>

        <div class="weather-details">
            <div class="humidity">
                <i class="fa-solid fa-water"></i>
                <div class="text">
                    <span></span>
                    <p>Humidity</p>
                </div>
            </div>
            <div class="wind">
                <i class="fa-solid fa-wind"></i>
                <div class="text">
                    <span></span>
                    <p>Wind Speed</p>
                </div>
                
              
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/7c8801c017.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script/index.js') }}"></script>
{% endblock %}

